

@import "tailwindcss";

@layer base {
  :root {
    /* Fonts */
    --font-sans: system-ui, -apple-system, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    --font-mono: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Courier, monospace;
    
    
    font-family: var(--font-sans);
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html, body, #root {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
}

@layer utilities {
  @keyframes dash {
    to {
      stroke-dashoffset: -12;
    }
  }

  .animate-dash {
    animation: dash 0.5s linear infinite;
  }
}


